<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
</head>
<body style="margin: 0; padding: 0; background: linear-gradient(135deg, #00c6ff, #0072ff); height: 100vh;  justify-content: center; align-items: center; font-family: Arial, sans-serif; color: white; ">

    <div style="padding: 20px; border-radius: 10px; background-color: rgba(0, 0, 0, 0.3);">
        <h1 style="font-size: 3rem; margin-bottom: 0.5rem; text-align: center;">🚧 Coming Far 🚧</h1>
        <p style="font-size: 1.2rem;text-align: center;">We're working hard to bring something amazing. Stay tuned!</p>
        <p style="font-size: 1rem;text-align: center;">📅 Launching Soon...</p>
    </div>

</body>
</html>
